In [17]:
import pandas as pd
import numpy as np

In [18]:
cust_ds = pd.read_csv('customer_data.csv')
cols = cust_ds.columns
cols

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

##### Data Info

* USA, California

#### Dealing with 'Contract' 

* 'Month-to-Month' replace by '1' 
* 'One year replace by '12'
* 'Two year' replace by '24'

In [19]:
print(cust_ds['Contract'].unique())


contract_mapping = {
    'Month-to-month' : '1',
    'One year': '12',
    'Two year': 24
}

cust_ds['Contract Period'] = cust_ds['Contract'].map(contract_mapping)
print('Contract Period with NaN: ', cust_ds['Contract Period'].isna().sum())
cust_ds.head()
print(cust_ds[['Contract', 'Contract Period']])

['Month-to-month' 'Two year' 'One year']
Contract Period with NaN:  0
            Contract Contract Period
0     Month-to-month               1
1     Month-to-month               1
2     Month-to-month               1
3     Month-to-month               1
4     Month-to-month               1
...              ...             ...
7038        Two year              24
7039        One year              12
7040        One year              12
7041  Month-to-month               1
7042        Two year              24

[7043 rows x 2 columns]

In [20]:
cust_ds.drop(['Country', 'State', 'Lat Long', 'Count'], axis=1, inplace=True)

In [21]:
cust_ds

,CustomerID,City,Zip Code,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,...,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Contract Period
0,3668-QPYBK,Los Angeles,90003,33.964131,-118.272783,Male,No,No,No,2,...,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,1
1,9237-HQITU,Los Angeles,90005,34.059281,-118.307420,Female,No,No,Yes,2,...,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,1
2,9305-CDSKC,Los Angeles,90006,34.048013,-118.293953,Female,No,No,Yes,8,...,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,1
3,7892-POOKP,Los Angeles,90010,34.062125,-118.315709,Female,No,Yes,Yes,28,...,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,1
4,0280-XJGEX,Los Angeles,90015,34.039224,-118.266293,Male,No,No,Yes,49,...,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,Landers,92285,34.341737,-116.539416,Female,No,No,No,72,...,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306,NaN,24
7039,6840-RESVB,Adelanto,92301,34.667815,-117.536183,Male,No,Yes,Yes,24,...,Yes,Mailed check,84.80,1990.5,No,0,59,2140,NaN,12
7040,2234-XADUH,Amboy,92304,34.559882,-115.637164,Female,No,Yes,Yes,72,...,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560,NaN,12
7041,4801-JZAZL,Angelus Oaks,92305,34.167800,-116.864330,Female,No,Yes,Yes,11,...,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN,1
7042,3186-AJIEK,Apple Valley,92308,34.424926,-117.184503,Male,No,No,No,66,...,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097,NaN,24

In [22]:
print(cust_ds[cust_ds['Monthly Charges'] == ' '].shape[0])
print(cust_ds[cust_ds['Total Charges'] == ' '].shape[0])


empty_total_charges = cust_ds['Total Charges'] == ' '
cust_ds['Monthly Charges'] = pd.to_numeric(cust_ds['Monthly Charges'], errors='coerce')
cust_ds['Contract Period'] = pd.to_numeric(cust_ds['Contract Period'], errors='coerce')
cust_ds.loc[empty_total_charges, 'Total Charges'] = cust_ds.loc[empty_total_charges, 'Monthly Charges'] * cust_ds.loc[empty_total_charges, 'Contract Period']
cust_ds['Total Charges'] = pd.to_numeric(cust_ds['Total Charges'])

cust_ds['Total Charges'].isna().sum()
print(cust_ds[cust_ds['Total Charges'] == ' '].shape[0])

0
11
0

In [23]:
cust_ds.to_csv('cust_data.csv', index=False)

In [24]:
cust_ds['Internet Service']

0               DSL
1       Fiber optic
2       Fiber optic
3       Fiber optic
4       Fiber optic
           ...
7038             No
7039            DSL
7040    Fiber optic
7041            DSL
7042    Fiber optic
Name: Internet Service, Length: 7043, dtype: object